@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (prefers-reduced-motion: reduce) {
  .animate-\[ticker_30s_linear_infinite\] {
    animation: none;
  }
}
